<!DOCTYPE html>
{%  load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Bot Interface</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="chat-container">
        <div class="chat-box">
            <div class="message bot-message">Salom! Men sizga qanday yordam bera olishim mumkin?</div>
            <div class="message user-message">Yordam kerak.</div>
        </div>
        <input type="text" class="chat-input" placeholder="Yozing...">
        <button class="send-button">Yuborish</button>
    </div>
</body>
</html>
