{% load static %}
<html lang="en">
<head>
  <style>
        .custom-image {
            position: relative;
            top: 10px;
            height: 60vh;
            left: 450px;
        }
        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            padding: 10px 10px;
            margin-bottom: 15px;
            border-radius: 15px;
            box-sizing: border-box; 
            font-size: 14px;
            background-color: rgba(255, 255, 255, 0.1);
            color: #fff;
            backdrop-filter: blur(1px);
        }
       .btn-primary {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          background-color: silver;
          color: black;
          border: 2px solid silver;
          padding: 12px 10px;
          border-radius: 5px;
          font-size: 16px;
          font-weight: bold;
          cursor: pointer;
          text-align: center;
          transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
        }

       .btn-primary:hover {
          background-color: #f5f5f5;
          border-color: #0056b3;
          transform: scale(1.05);
        }
    </style>
  <title>Global</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="HTML5 website template">
  <meta name="keywords" content="global, template, html, sass, jquery">
  <meta name="author" content="Bucky Maler">
  <link rel="stylesheet" href="{% static '/main.css' %}">
  <link rel="stylesheet" href="{% static '/styles.css' %}">
</head>
<body>

<div class="device-notification">
  <a class="device-notification--logo" href="https://www.instagram.com/t1murov_19/">
    <img src="{% static 'img/logo.png' %}" alt="Global">
    <p>T1murov</p>
  </a>
  <p class="device-notification--message">Global has so much to offer that we must request you orient your device to portrait or find a larger screen. You won't be disappointed.</p>
</div>

<div class="perspective effect-rotate-left">
  <div class="container"><div class="outer-nav--return"></div>
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
          <a class="header--logo" href="#" >
            <img src="{% static 'img/logo.png' %}" alt="Global">
            <p>T1murov_19</p>
          </a>
            <button class="header--cta cta">Next</button>
          <div class="header--nav-toggle">
            <span></span>
          </div>
        </header>
        <nav class="l-side-nav">
          <ul class="side-nav">
            <li class="is-active"><span>Bosh sahifa</span></li>
            <li><span>Amaliy ishlar</span></li>
            <li><span>Aloqa</span></li>
          </ul>
        </nav>
        <ul class="l-main-content main-content">
          <li class="l-section section section--is-active">
            <div class="intro">
              <div class="intro--banner">
                <h1>Python<br>Backend<br>Django</h1>
                <img src="{% static '/img/p.png' %}" alt="Welcome">
                <body class="dark-background">
                    <div class="button-container">
                        <a href="{% url 'resume:open_pdf' %}" class="dark-button" target="_blank">Resume - ni ochish</a>
                        <a href="{% url 'resume:download_pdf' %}" class="dark-button">Resume - ni yuklab olish</a>
                    </div>
                </body>
              </div>
              <div class="intro--options">
                <a href="#0">
                  <h3>Education :</h3>
                  <p>Najon Ta'lim da Python Backend Django ni 2024 yil 20 iyul da bitirganman</p>
                </a>
                <a href="#0">
                  <h3>my interests and hobbies :</h3>
                  <p>Ozgina musiqa-sanat va sport turidan futbolga qiziqishlarim bor</p>
                </a>
                <a href="#0">
                  <h3>Living Address :</h3>
                  <p>Uzbekistan - Toshkent viloyati - Nurafshon shaxri</p>
                </a>
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="work">
              <h2>Amaliy ishlarimni ko'rish :</h2>
              <div class="work--lockup">
                <ul class="slider">
                  <li class="slider--item slider--item-left">
                    <a href="https://t.me/Premyera_new_bot" target="_blank">
                      <div class="slider--item-image">
                        <img src="{% static '/img/photo_2024-08-07_13-29-53.jpg' %}" alt="Victory">
                      </div>
                      <p class="slider--item-title">Man yaratgan bot</p>
                      <p class="slider--item-description">Bu yerda man obuna uchun qo'shiqlar taqdim etaman !... </p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-center">
                    <a href="{% url 'pages:home' %}" target="_blank">
                      <div class="slider--item-image">
                        <img src="{% static 'img/images.jpg' %}" alt="Metiew and Smith">
                      </div>
                      <p class="slider--item-title">Furniture Shop</p>
                      <p class="slider--item-description">Bu yerda foydalanuvchi extiyojiga yaroqli mahsulotlarni harid qilish imkonini yaratganman</p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-right">
                    <a href="https://t.me/t1murov_19" target="_blank">
                      <div class="slider--item-image">
                        <img src="{% static 'img/mz.jpg' %}" alt="Alex Nowak">
                      </div>
                      <p class="slider--item-title">Bu yerda maniz hobbim</p>
                      <p class="slider--item-description">Ha ozgina bosh voqtlarimda qo'shiq etishni yaxsh ko'raman</p>
                    </a>
                  </li>
                </ul>
                <div class="slider--prev">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                    c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                    c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z"></path>
                  </g>
                  </svg>
                </div>
                <div class="slider--next">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"></path>
                  </g>
                  </svg>
                </div>
              </div>
            </div>
          </li>
            <li class="l-section section">
                <div class="contact">
                    <div class="contact--lockup">
                        <div class="d-flex justify-content-center">
                            <div class="contact-form-wrapper">
                                <div class="contact-form">
                                    <h2 class="text-center">Aloqa :</h2>
                                    <form action="{% url 'resume:contact' %}" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            {{ form.name.label_tag }}
                                            {{ form.name }}
                                        </div>
                                        <div class="form-group">
                                            {{ form.email.label_tag }}
                                            {{ form.email }}
                                        </div>
                                        <div class="form-group">
                                            {{ form.message.label_tag }}
                                            {{ form.message }}
                                        </div>
                                        <button class="btn-primary" type="submit" name="submitMessage">
                                            <img class="img-fl" src="{% static 'img/contact_email.png' %}" alt="Send message"> Habar jo'natish
                                        </button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="outer-nav">
    <li class="is-active">Bosh sahifa</li>
    <li>Amaliy ishlar</li>
    <li>Aloqa</li>
  </ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
  window.jQuery || document.write('<script src="{% static "js/vendor/jquery-2.2.4.min.js" %}"><\/script>');
</script>
<script src="{% static 'js/functions-min.js' %}"></script>
</body>
</html>

